<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
  
<body>
    <nav class="navbar sticky-top bg-warning">
        <div class="container navbr">
            
            <h4><b>NEWS UPDATES</b></h4>
            <h5 class="text-center"> Get the latest news update </h5>
             
        </div>

    </nav>
    <!-- Content block -->

    {% block content %}
    <!-- Navbar block  -->
    <!-- {% block navbar %}
    {% include 'navbar.html' %}
    {% endblock %} -->

    {% endblock%}

    

    <div class="container-fluid footer">
        <footer id="sticky-footer" class="py-4 text-white-50">
            <div class="container text-center">
            </div>

        </footer>

    </div>



    


</body>

</html>